@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #F0F2DC 100%, #F2F2F2);


}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(210, 211, 194, 0.445);



}

h1 {
    text-align: center;
    color: #595959;
    text-shadow: 1px 1px 1px rgba(67, 67, 67, 0.728);

}

h2 {
    color: #6089BF;
}

p {
    text-align: justify;
}